body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
}

section {
	width: 90%;
	max-width: 1400px;
    margin: 0 auto;
}

p {
    margin: 0;
}

.header {
    height: 700px;
    min-height: 570px;
    background-image: url('../images/header.png');
    background-position: center center; 
    background-size: cover;	  
	}

.top-nav, .top-logo {
    padding: 20px 0;
}

.container {
	max-width: 1000px; /* Własciwe miejsce na wymuszenie szerokosci */
}

.row {
    justify-content: center;
}

.splash {
    position: relative;
  	height: 700px;    
}

.splash-inner {
	position: absolute;
	text-align: center;
    text-decoration: none;
    h3 {
        font-size: 1.8rem;
        font-weight: bold;
    }
    h1 {
        font-size: 3rem;
        font-weight: bold;
    }
	top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);   		
}

.button-tellmemore {
    display: inline-block;
    width: 240px;
    height: 65px;
    background-color: #fed136;  /* yellow */
    color: white;
    margin: 12px auto 0 auto;
    padding: 20px 0 5px 0;
    border-radius: 5px;
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;    
    border-width: 0; 
}

.col-side {
    width: 290px;
    margin: 0 0 50px 0;
}
.col-middle {
    width: 290px;
    margin: 0 35px 50px 35px;
}

.services {
	background-color: #fff;
    color: #000;
    text-align: center;
    padding: 0;
    .col-side, .col-middle {
        padding: 0 0 120px;
    }
    p {
        color: #777;
    }
}

.portfolio {
    background-color: #ccc;   /*f7f7f7*/
    color: #000;
    text-align: center;
    padding: 0 0 70px 0;
    .col-4 {
        padding: 0;
        margin: 0 0 50px 0;
        background-color: #fff;
    }
    p {
        color: #777;
    }
}


/* "Kafle" w services (3) i w portfolio (6) */
.services .row .col-12, .portfolio .row .col-12 {
    padding: 120px 0 80px;
    h2  {  /* Tytuł sekcji*/
        font-size: 18px;
    }
    p {
        color: #777;
        font-style: italic;
    } 
}