/* Variables */



/* Global */


body {
    margin: 0;
    background-color: #000;
    color: #fff;
}

section {
	width: 90%;
	max-width: 1140px;
    margin: 0 auto;  /* centruje cala tresc strony w poziomie */
    border: 1px solid white;
}

.container {
	border: 1px solid yellow;
}

.header {
    height: 100vh;
    background-image: url('../images/header.jpg');
    background-position: center center;
    background-size: cover;	
	border: 1px solid cyan;	    
	}

.top-logo {
	border: 1px solid cyan;	
	}

.top-nav {
	border: 1px solid cyan;		
	}

