/* Variables */

$font-serif: 'Droid Serif', serif;
$font-sans: 'Montserrat', sans-serif;

/*Global*/

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
}

section, footer {
	width: 90%;
	max-width: 1400px;
    margin: 0 auto;
    background-color: #fff;
}

p {
    margin: 0;
    font-family: $font-serif;
    line-height: 1.5rem;
}


h1 {
    font-family: $font-sans;
    text-transform: uppercase;
}

h2 {
    font-family: $font-sans;
    text-transform: uppercase;
}

h3 {
    font-family: $font-sans;
    text-transform: uppercase;
}

h4 {
    font-family: $font-serif;
    font-style: italic;
    font-weight: lighter;
}

/*Modding Bootstrap*/

.container {
    max-width: 1000px; /* Wlasciwe miejsce na wymuszenie szerokosci */
    border: 0;
}

.row {
    justify-content: center;
    margin: 0;
    border: 0;
}

.col,
.col-lg-4 {
    border: 0;
}

/*Custom, local*/

.header {
    height: 700px;
    min-height: 570px;
    background-image: url('../images/header.png');
    background-position: center center; 
    background-size: cover;	  
	}

.top-nav, .top-logo {
    padding: 20px 0;
}

.header .container .row .top-nav {
    font-family: $font-sans;
    text-transform: uppercase;
    text-decoration: none;
    text-align: right;
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        li {
            display: inline-block;
            a {
                text-decoration: none;
                color: #fff;
                display: block;
                font-size: 1rem;
                padding: 0 35px 0 0;
            }
        }
    }
}


.splash {
    position: relative;
  	height: 700px;    
}

.splash-inner {
	position: absolute;
	text-align: center;
    text-decoration: none;
    h4 {
        font-size: 38px;
        margin: 0 0 25px 0;
    }
    h1 {
        font-size: 75px;
        font-weight: bold;
        margin: 25px 0 40px 0;
    }
	top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);   		
}

.button-tellmemore {
    display: inline-block;
    width: 240px;
    height: 65px;
    background-color: #fed136;  /* yellow */
    color: white;
    margin: 12px auto 0 auto;
    padding: 20px 0 5px 0;
    border-radius: 5px;
    font-size: 1.5rem;
    font-family: $font-sans;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;    
    border-width: 0; 
}

.services {
	background-color: #fff;
    color: #000;
    text-align: center;
    h3 {
        text-transform: capitalize;
        font-size: 1.5rem;
    }
    p {
        color: #777;
    }
}

.portfolio {
    background-color: #f7f7f7; 
    color: #000;
    text-align: center;
    h3 {
        margin: 5px auto 3px;
        text-transform: capitalize;
        font-size: 1.5rem;
    }
    p {
        margin: 0 auto;
        color: #777;
    }
    .portfolio-tile {
        width: 290px;
        height: 365px;
        background-color: #fff;
        margin: 0 auto 30px;
        padding: 0;
    }    
}

.services-header,
.portfolio-header {
    margin: 0 auto;
    padding: 0 0 80px;
}

/* "Kafle" w services (3) i w portfolio (6) */
.services, 
.portfolio {
    padding: 120px 0 80px;

    h2 {
        font-size: 3.5rem;   
        margin: 0;     
    }
    p {
        color: #777;
        font-style: italic;
    } 
}

.page-footer {
    padding: 0;
    margin: 0 auto;

    .container {
        background-color: #fff;
    }

    .col-lg-4 {
        padding: 45px 0;   /* Oddala tekst copyright w dol */
        text-align: center;
        vertical-align: middle;
        color: black;
        margin-bottom: 0;
    }

    .footer-inner {
        text-align: center;
        padding: 30px 0; /* Oddala ikonki SM w dol */
        font-size: 0;
        ul { 
            list-style-type: none;
            padding: 0;
            margin: 0 auto;
            li {
                display: inline-block;    
                i {
                    text-align: center; 
                    font-size: 20px;
                    background: #000;
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    color: #fff;
                    border-radius: 50%;
                    margin: 0 5px;
                }
            }
        }
    }
}  





/* Media */

@media (max-width: 1110px) {
    section, footer {
        width: 100%;
    }

    .header .container .row .top-nav ul li a {
        padding: 0 10px 0 0;
    }

    .services .col, 
    .portfolio .col {
        padding: 40px 0 30px;
        h2 {
            font-size: 2.2rem;   
        }
    }

    .services .col-lg-4, 
    .portfolio .col-lg-4 {
        width: 100%;
        margin: 0 auto;
        padding-bottom: 40px;
    }

    .page-footer .hide-lores {
        display: none;
    }    

    .splash-inner {
        h4 {
            font-size: 28px;
            margin: 0 0 20px 0;
        }
        h1 {
            font-size: 45px;
            font-weight: bold;
            margin: 20px 0 40px 0;
        }  
    }

}
